PORT=8080
NODE_ENV=development
# comma separated list of access tokens for this service
ACTIVETOKENS=
# microservice base urls
LOCATIONSRVBASE=http://localhost:4000/v1
# microservices api tokens
LOCSRVTOKEN=